body{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 300;
    margin: 0 5px;
    background-color: #ffeaea;
}

.container{
    width: 700px;
    margin: 0 auto;
}

.container-border{
    border-left: 2px solid #99D930;
}

.nav-bar{
    background-color: #131313;
    display: flex;
    justify-content: end;
    padding: 0 20px;
    border-bottom: 2px solid #99d930;
    
}

.nav-bar ul{
    display: flex;
    list-style-type: none;
    gap: 40px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1.5rem;
}


.lightning-profile{
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile-img{
    max-width: 50%;
    height: 300px;
    border-radius: 50%;
    /* border: 2px groove #98d9309a; */
}

.bold-text{
    font-weight: 900;
    display: block;
}

.small-text{
    font-size: 1rem;
    margin-top: 0;
}

.header-img {
    background-image: linear-gradient(to bottom, transparent, rgba(30, 30, 80, .7)), url(img/largeBackground.jpg);
    padding: 5px;
    border-radius: 0px 0px 110px 110px; 
}

h1{
    text-shadow: 2px 2px 5px rgb(46, 157, 201);
}

.about-me-shadow{
    text-shadow: 2px 2px 5px rgb(185, 29, 55);
}

.articles-shadow{
    text-shadow: 2px 2px 5px rgb(46, 157, 201);
}

h1 .bold-text{
    font-size: 80px;
    color: #99D930;
}

h2 .bold-text,
h3 .bold-text{
    font-size: 60px;
    color: #99D930;
}

.about-me .bold-text{
    color: #252525;
}

h1, 
h2{
    font-weight: 300;
}

h1{
    font-size: 3.75rem;
    margin-top: 0;
}

h2{
    font-size: 2.625rem;
    margin-top: 0;
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    padding: 35px 0px; 
    margin-bottom: 35px;   
}

h3{
    font-size: 2.25rem;
    margin-bottom: 0;
}

p{
    margin-bottom: 0;
}

.credit{
    font-size: 1rem;
}

a{
    color: #99D930;
}

a:hover,
a:focus{
    color: rgb(46, 157, 201);
} 

.inverse{
    background-color: #252525;
    color: #fff;
}

.about-me{
    background-color: #ffeaea;
    color: #ffeaea;
    text-shadow: 2px 2px 5px black;
    font-weight: bold;
}

.about-me h2{
    font-weight: bold;
    text-shadow: 2px 2px 5px black;
}

.about-me .container{
    background-image: linear-gradient(to bottom, transparent, rgba(30, 30, 80, 1)), url(img/orangeBG.jpg);
    background-size: cover;
    padding-bottom: 20px;
    border-radius: 100px 0px;
}

header,
.about-me,
.articles{
    padding: 75px 0;
}


.see-my-articles-btn,
.see-my-work-btn{
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 30px;
    background-color: #99D930;
    color: #252525;
    font-weight: 600;
    border-radius: 10px;
}

.see-my-work-btn:hover,
.see-my-work-btn:focus{
    background-color: rgb(221, 65, 91);
    color: whitesmoke;
    text-shadow: 2px 2px 10px#252525;
}

.see-my-articles-btn:hover,
.see-my-articles-btn:focus{
    background-color: rgb(46, 157, 201);
    color: whitesmoke;
    text-shadow: 2px 2px 10px #252525;
}